.container {
  @include push--auto;

  width: 61%;
}

.outline {
  border: 1px solid red;

  &--blue {
    border: 1px solid blue;
  }
}

@media (max-width: $desktop) {
  .container {
    width: 94.53125%;
  }
}

@media (max-width: $tablet) {
  .container {
    width: 90%;
  }
}
