.page-footer {
  padding-top: 138px;
  padding-bottom: 78px;

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $black;
  letter-spacing: -0.7px;
}

.page-footer__section {
  width: 350px;

  &--coming {
    padding-left: 14px;
    width: 404px;
    border-right: 1px solid #D7D9DF;
  }

  &--contacts {
    width: 389px;
    border-right: 1px solid #D7D9DF;
  }

  &--contacts {
    padding-left: 90px;
  }

  &--group-trips {
    flex-grow: 1;
    padding-left: 49px;
  }
}

.page-footer__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__item {
  margin-bottom: 10px;
  width: 33.333%;
  font-weight: normal;
  color: rgba($color: $black, $alpha: 0.5)
}

.page-footer__text {
  margin: 0;
  padding-right: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba($color: $black, $alpha: 0.5)
}

@media screen and (max-width: $desktop) {
  .page-footer {
    padding-top: 51px;
  }

  .page-footer__section {
    padding: 0;

    &--coming {
      width: 396px;
      margin-bottom: 20px;
    }

    &--contacts {
      padding-left: 50px;
      width: auto;
      border: none;
    }

    &--group-trips {
      padding-top: 29px;
      border-top: 1px solid #D7D9DF;

      .page-footer__title {
        text-align: center;
      }
    }
  }

  .page-footer__item {
    width: 31.33%;
  }

  .page-footer__text {
    text-align: center;
  }

  .page-footer__linebreak {
    display: none;
  }
}
