.tabs__list {
  @include list-reset;

  display: flex;
  flex-wrap: nowrap;
  width: 77%;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);;
}

.tabs__item {
  padding: 15px 0;
  margin-right: 11.4641%;

  &:last-child {
    margin-right: 0;
  }
}

.tabs__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.415px;
  color: rgba($color: $black-alt, $alpha: 0.3);
  text-decoration: none;

  &--active {
    color: $orange;
  }
}

@media (max-width: $desktop) {
  .tabs {
    padding-left: 4.8%;
    width: 100%;
  }

  .tabs__list {
    width: auto;
    flex-wrap: nowrap;
  }

  .tabs__item {
    margin-right: 14.4641%;
  }
}

@media (max-width: $tablet) {
  .tabs {
    padding-left: 4.687%;
  }

  .tabs__item {
    margin-right: 35.4641%;
  }
}
