// colors
$white: #ffffff;
$black: #141517;
$black-alt: #2C2E3F;
$pink: #FE7865;
$pink-hover: #F17D4B;

// fonts
$font-main: "Montserrat Regular", "Arial", sans-serif;
// $font-semibold: "Montserrat Medium", "Arial", sans-serif;
// $font-bold: "Montserrat Semibold", "Arial", sans-serif;
$font-alt: "Poppins", "Verdana", sans-serif;

// bp
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
