// colors
$white: #ffffff;
$black: #141517;
$black-alt: #2C2E3F;
$orange: #FE7865;
$orange-hover: #F17D4B;

$promo-bg: #97b4de;

// fonts
$font-main: "Montserrat Regular", Verdana, sans-serif;
// $font-semibold: "Montserrat Medium", "Arial", sans-serif;
// $font-bold: "Montserrat Semibold", "Arial", sans-serif;
$font-alt: "Poppins", Verdana, sans-serif;

// bp
$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;

//resolution
$retina: 1.5dppx;
